<h3>Add POST</h3>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <ul *ngIf="formSubmitted">
    <li *ngIf="form.controls['title']?.errors?.['required']">Le titre est obligatoire</li>
    <li *ngIf="form.controls['title']?.errors?.['minLength']">Le titre est trop court (3 car. min)</li>
    <li *ngIf="form.controls['body']?.errors?.required">Le body est obligatoire</li>
  </ul>
  <div>
    <label for="ID">ID:</label>
    <input type="text" id="ID" formControlName="id">
  </div>
  <div>
    <label for="title">title:</label>
    <input type="text" id="title" formControlName="title">
  </div>
  <div>
    <label for="body">body:</label>
    <input type="text" id="body" formControlName="body">
  </div>
  <button type="submit">OK</button>
</form>
