<ul>
  <li><a routerLink="/parent">parent</a></li>
  <li><a routerLink="/home">home</a></li>
  <li><a routerLink="/modal">modal</a></li>
  <li><a (click)="openAddProduct()">add product</a></li>
  <li><a routerLink="/products">list product</a></li>
  <li><a routerLink="/suppliers">list suppliers</a></li>
  <li><a routerLink="/counter">counter</a></li>
  <li><a routerLink="/counterform">counter form</a></li>
  <li><a routerLink="a/a1">a1</a></li>
  <li><a routerLink="a/a2">a2</a></li>
  <li><a routerLink="b/b1">b1</a></li>
  <li><a routerLink="b/b2">b2</a></li>
</ul>
